<div class="row row-flex" style="display: flex; justify-content: center;">
    <p class="col-md-8">{{reto.getPrincipal()}}</p>
    <button class="btn btn-success col-md-2" type="submit">Editar</button>
</div>
<hr>