<div class="container" style="margin-top: 20px; margin-bottom: 30px; display: flex; justify-content: center;">
    <div class="card" style="width: 20rem;">
        <img src="../../../assets/logro.jpg " class="card-img-top " alt="logro">
        <div class="card-body">
            <h5 class="card-title ">Felicidades...</h5>
            <p class="card-text ">Haz completado todos los niveles satisfactoriamente!</p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item ">
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text " id="puesto ">Puesto</span>
                    </div>
                    <input type="text " class="form-control " aria-label="Sizing example input " aria-describedby="inputGroup-sizing-default ">
                </div>
            </li>
            <li class="list-group-item ">
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text " id="puntaje_total ">Puntaje total</span>
                    </div>
                    <input type="text " class="form-control " aria-label="Sizing example input " aria-describedby="inputGroup-sizing-default ">
                </div>
            </li>
        </ul>
        <div class="card-body ">
            <button type="button " class="btn btn-primary btn-lg btn-block "><a [routerLink]="['/menu_usuario']" style="color: white;" class="nav-link"> Regresar al menú</a> </button>
        </div>
    </div>
</div>