body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%; 
}
html{ height: 100%; }
.cartas{
    display: flex;
    justify-content: center;
}
@media (max-width: 700px){
    .cartas{
        display: inline-block;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
