<div class="container" style="margin-top: 30px; margin-bottom: 40px; display: flex; justify-content: center;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1 class="card-title" style="display: flex;" style="justify-content:center">Detalles de la Partida</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal-lg" style="display: flex;" style="justify-content:center">
                    <img src="../../../assets/user.png" class="rounded mx-auto d-block" width="150" height="150" alt="logo" class="img-thumbnail">
                    <li class="list-group-item">
                        <p class="text-center">Jugador 1</p>
                        <p class="text-center">Nombre</p>
                        <p class="text-center">Codigo</p>
                    </li>
                    <li class="list-group-item" >
                        <p class="font-weight-bold text-center">Puntaje</p>
                        <p class="text-center">0</p>   
                    </li>
                </ul>  
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal-lg" style="display: flex;" style="justify-content:center">
                    <img src="../../../assets/user.png" class="rounded mx-auto d-block" width="150" height="150" alt="logo" class="img-thumbnail">
                    <li class="list-group-item">
                        <p class="text-center">Jugador 1</p>
                        <p class="text-center">Nombre</p>
                        <p class="text-center">Codigo</p>
                    </li>
                    <li class="list-group-item" >
                        <p class="font-weight-bold text-center">Puntaje</p>
                        <p class="text-center">0</p>   
                    </li>
                </ul>  
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal-lg" style="display: flex;" style="justify-content:center">
                    <img src="../../../assets/user.png" class="rounded mx-auto d-block" width="150" height="150" alt="logo" class="img-thumbnail">
                    <li class="list-group-item">
                        <p class="text-center">Jugador 1</p>
                        <p class="text-center">Nombre</p>
                        <p class="text-center">Codigo</p>
                    </li>
                    <li class="list-group-item" >
                        <p class="font-weight-bold text-center">Puntaje</p>
                        <p class="text-center">0</p>   
                    </li>
                </ul>  
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal-lg" style="display: flex;" style="justify-content:center">
                    <img src="../../../assets/user.png" class="rounded mx-auto d-block" width="150" height="150" alt="logo" class="img-thumbnail">
                    <li class="list-group-item">
                        <p class="text-center">Jugador 1</p>
                        <p class="text-center">Nombre</p>
                        <p class="text-center">Codigo</p>
                    </li>
                    <li class="list-group-item" >
                        <p class="font-weight-bold text-center">Puntaje</p>
                        <p class="text-center">0</p>   
                    </li>
                </ul>  
            </li>
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal-lg" style="display: flex;" style="justify-content:center">
                    <img src="../../../assets/user.png" class="rounded mx-auto d-block" width="150" height="150" alt="logo" class="img-thumbnail">
                    <li class="list-group-item">
                        <p class="text-center">Jugador 1</p>
                        <p class="text-center">Nombre</p>
                        <p class="text-center">Codigo</p>
                    </li>
                    <li class="list-group-item" >
                        <p class="font-weight-bold text-center">Puntaje</p>
                        <p class="text-center">0</p>   
                    </li>
                </ul>  
            </li>
        </ul>

        <div>
            <button class="btn btn-primary mr-3 btn-lg"><a [routerLink]="['/partidas-creadas']"  class="nav-link" style="color: white;" >Volver</a></button>
        </div>
        
    </div>
</div>
 
        
        