<div class="container">
    <h1>ARCANO</h1>
    <p style="font-size: larger;">
        Aprendiendo en una aventura 🚩
    </p>
    <div id="botones">
        <button type="button" class="btn btn-primary mr-3 btn-lg" (click)="openDialogIngreso()">Iniciar sesión</button>
        <button type="button" class="btn btn-dark btn-lg" (click)="openDialogRegistro()">Registrarse</button>
    </div>
</div>