
    body {
        opacity: 0.5;
    }
    
    h1 {
        color: aliceblue;
        font-family: 'Anton', sans-serif;
        font-family: 'Sansita Swashed', cursive;
        font-family: 'Secular One', sans-serif;
        padding-top: 100px;
        font-size: 38px;
    }
    
    p {
        color: white;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    button {
        border-radius: 6px;
        margin-top: 20px;
    }