<div class="container" style="margin-top: 20px;">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-codigo">código</span>
        </div>
        <input type="text" class="form-control" aria-label="codigo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
            <button class="btn btn btn-success" type="button">Info partida</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Aquí va la pregunta" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>
    </div>
    <button type="button" class="btn btn-info btn-lg btn-block" (click)="notificacion()">Opcion 1</button>
    <button type="button" class="btn btn-info btn-lg btn-block" (click)="notificacion()">Opcion 2</button>
    <button type="button" class="btn btn-info btn-lg btn-block" (click)="notificacion()">Opcion 3</button>
    <button type="button" class="btn btn-info btn-lg btn-block" (click)="notificacion()">Opcion 4</button>
</div>