<div class="container" style="margin-bottom: 10px;display: flex;">
    <div class="card card-player">
        <h1 class="card-head">{{jugador.getCedula()}}</h1>
        <hr>
        <div style="margin-bottom: 50px;" class="card-content">
            <div class="card-img" style="display: flex; width: 100px;">
                <img class="card-img-top" src="../../../assets/men.png" alt="" >
                <span><h4>{{position}}</h4></span>
            </div>
            <hr>
            <div class="card-desc" style="margin-top: 10px;">
                <p class="card-text">Nombre del jugador</p>
                <p class="card-text">Código</p>
            
            </div>
        </div>
    </div>
</div>
