<form class="text-center border border-light p-5" action="#!">

  <div class="container">
    <p> 
      <img src="/assets/room.png" width="65" height="65" class="d-inline-block align-top" alt="logo"> 
      </p>
    <h1>Inicio de sesión</h1>
  </div>
  
  
  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">


  <div class="d-flex justify-content-around">
      <div>
          <!-- Forgot password -->
          <a href="">¿Olvidaste tu contraseña?</a>
      </div>
  </div>

  <div mat-dialog-actions>
    <button class="btn btn-info btn-block my-4" (click)="closeDialog()" ><a [routerLink]="['/menu_usuario']"  class="nav-link" style="color: white;" >Ingresar</a></button>
  </div>
  

</form>