<div class="container" style="margin-bottom: 10px;display: flex; text-align: center;">
    <div class="card card-qr">
        <h1 class="card-head"><b> {{reto.getPrincipal()}}</b></h1>
        <hr>
        <div style="margin-bottom: 50px;" class="card-content">
            <div class="card-img" style="display: flex; justify-content: center; text-align: center; height: 200px; width: 200px;">
                <img class="card-img-top" src="../../../assets/qr.jpg" alt="" style="display: flex; justify-content: center;">
            </div>
            <hr>
            <div class="card-desc" style="margin-top: 10px;">
                <h2 class="card-text"><b> Codigo</b></h2>
                <h2 class="card-text"><b>{{reto.getSala()}}</b></h2>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: center;">
            <button class="btn btn-primary" type="submit">Imprimir</button>
        </div>
    </div>
</div>
