<form class="text-center border border-light p-5" action="#!">
    <h2>Registro</h2>
    
    <input type="name" id="defaultLoginFormName" class="form-control mb-2" placeholder="Nombre Completo">
    <input type="name" id="defaultLoginFormNameUser" class="form-control mb-2" placeholder="Nombre Usuario">
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-2" placeholder="E-mail">
    
    <div>
      <select class="form-control mb-2">
        <option value="" disabled selected>Selecciona tu genero</option>
        <option value="1">Hombre</option>
        <option value="2">Mujer</option>
        <option value="3">Indefinido</option>
      </select>
    </div>
  
    <div class="d-flex justify-content-around">
      <div>
        <select class="form-control mb-2">
          <option value="" disabled selected>Selecciona tu País</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div>
        <select class="form-control mb-2">
          <option value="" disabled selected>Selecciona tu Ciudad</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>  
 
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-2" placeholder="Contraseña">
    <input type="password" id="defaultLoginFormPasswordc" class="form-control mb-2" placeholder="Confirmar Contraseña">

    <button class="btn btn-info btn-block my-4" (click)="closeDialog()"><a [routerLink]="['/menu_usuario']" class="nav-link" style="color: white;" >Ingresar</a></button>

  </form>
