<div class="container" style="text-align: right; margin-top: 20px;">
    <button type=" button " class="btn btn-info "><a [routerLink]="['/menu_usuario']" style="color: white;"  class="nav-link"> Regresar al menú</a></button>
</div>

<div style="margin:0 auto; display: flex; justify-content: center; ">
    <div class="card mb-3 " style="max-width: 400px; ">
        <div class="row no-gutters ">
            <div class="col-md-4 " style="padding: 10px;">
                <img src="../../../assets/user.png " class="card-img " alt="logo ">
                <div class="input-group input-group-sm mb-3 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text " id="jugador ">Jugador</span>
                    </div>
                    <input type="text " class="form-control " aria-label="Sizing example input " aria-describedby="inputGroup-sizing-sm ">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text " id="nombre ">Nombre</span>
                    </div>
                    <input type="text " class="form-control " aria-label="Sizing example input " aria-describedby="inputGroup-sizing-sm ">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text " id="codigo ">Código</span>
                    </div>
                    <input type="text " class="form-control " aria-label="Sizing example input " aria-describedby="inputGroup-sizing-sm ">
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="card-body " style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                    <h5>Puntaje</h5>
                    <p>5</p>
                </div>
            </div>
        </div>
    </div>
</div>