<html>
<hr>
<div class="container" style="background-color: white; padding-top: 10px; padding-bottom: 20px;">
    <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
            <a href="#General" class="nav-link active" id="General-tab" data-toggle="tab" role="pill" aria-controls="General" aria-selected="true">General</a>
        </li>
        <li class="nav-item">
            <a href="#Retos" class="nav-link" id="Retos-tab" data-toggle="tab" role="pill" aria-controls="Retos" aria-selected="false"> Retos</a>
        </li>
        <li class="nav-item">
            <a href="#Jugadores" class="nav-link" id="Jugadores-tab" data-toggle="tab" role="pill" aria-controls="Jugadores" aria-selected="false"> Jugadores</a>
        </li>
        <li class="nav-item">
            <a href="#Vista-general" class="nav-link" id="Vista-general-tab" data-toggle="tab" role="pill" aria-controls="Vista-general" aria-selected="false"> Vista general</a>
        </li>
    </ul>
    <hr>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="General-tab">
                <form action="">
                    <div class="form-row">
                        <div class="col-sm-6 form-group">
                            <label for="nombrePartida">Nombre de la partida</label>
                            <input type="text" class="form-control" id="nombrePartida" placeholder="" #nombrePartida>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="Tematica">Temática</label>
                            <input type="text" class="form-control" id="tematica" placeholder="" #tematica>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Descripcion">Descripcion</label>
                        <textarea class="form-control" name="" id="Descripcion" cols="30" rows="10" #descripcion></textarea>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-1 form-group">
                            <label for="dir">Salas</label>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input type="text" class="form-control" id="dir" placeholder="Ingrese las salas en las que se jugarán" #sala>
                        </div>
                        <div class="col-sm-4 form-group">
                            <button class="btn btn-success" type="submit" (click)="AgregarSala(sala.value)">Agregar</button>
                            <button class="btn btn-danger" style="margin-left: 20px;" type="submit" (click)="QuitarSala(sala.value)">Borrar</button>
                        </div>
                        <div class="col-sm-4 form-group">
                        </div>
                        <div class="container" style="flex-wrap: wrap; display: flex;">
                            <app-salas-creando-partidas *ngFor="let s of salas" [sala]="s"></app-salas-creando-partidas>
                        </div>
                        <div class="container" style="display: flex; justify-content: flex-end; margin-bottom: 5px;">
                            <button class="btn btn-primary" type="submit" (click)="IngresarDatosPrincipales(nombrePartida.value,tematica.value,descripcion.value)">Guardar</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="tab-pane fade show" id="Retos" role="tabpanel" aria-labelledby="Retos-tab">
                <div style="margin:0 auto;" class="cartas">
                    <div class="card mb-3" style="max-width: 380px;">

                        <div class="row no-gutters">
                            <form action="">
                                <h2 class="card-title" style="text-align: center;">Preguntas</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="pregunta" placeholder="Ingresa tu pregunta" #pregunta>
                                </div>
                                <div class="input-group" style="margin-top: 5px;">
                                    <div class="form-check form-check-inline" style="margin-left: 10px;">
                                        <input class="form-check-input" type="radio" name="rbOps" id="rbOp1" value="option1">
                                        <label class="form-check-label" for="rbOp1">Correcta</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Opcion 1</span>
                                    </div>
                                    <input type="text" aria-label="" class="form-control" #op1>
                                </div>
                                <div class="input-group" style="margin-top: 5px;">
                                    <div class="form-check form-check-inline" style="margin-left: 10px;">
                                        <input class="form-check-input" type="radio" name="rbOps" id="rbOp2" value="option2">
                                        <label class="form-check-label" for="rbOp2">Correcta</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Opcion 2</span>
                                    </div>
                                    <input type="text" aria-label="" class="form-control" #op2>
                                </div>
                                <div class="input-group" style="margin-top: 5px;">
                                    <div class="form-check form-check-inline" style="margin-left: 10px;">
                                        <input class="form-check-input" type="radio" name="rbOps" id="rbOp3" value="option3">
                                        <label class="form-check-label" for="rbOp3">Correcta</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Opcion 3</span>
                                    </div>
                                    <input type="text" aria-label="" class="form-control" #op3>
                                </div>
                                <div class="input-group" style="margin-top: 5px;">
                                    <div class="form-check form-check-inline" style="margin-left: 10px;">
                                        <input class="form-check-input" type="radio" name="rbOps" id="rbOp4" value="option4">
                                        <label class="form-check-label" for="rbOp4">Correcta</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Opcion 4</span>
                                    </div>
                                    <input type="text" aria-label="" class="form-control" #op4>
                                </div>
                                <div class="input-field col s12" style="margin-top: 10px; text-align: center;">
                                    <label style="margin-right: 5px;">Seleccione sala para este reto</label>
                                    <select id="salasEnSelectP" #salasEnSelectP>
                    <option value="" *ngFor="let s of salas">
                       {{s.getNombre()}}
                   </option>
                  </select>
                                </div>
                                <div class="container" style="display: flex; justify-content: center; margin-bottom: 5px;">
                                    <button class="btn btn-primary" type="submit" (click)="AgregarReto(pregunta.value,salasEnSelect.options[salasEnSelect.selectedIndex].text,op1.value,op2.value,op3.value,op4.value)">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 900px;">
                        <div class="row no-gutters">
                            <form action="">
                                <h2 class="card-title" style="text-align: center;">Personalizado</h2>
                                <div class="form-group">
                                    <textarea class="form-control" name="" id="Descripcion" cols="30" rows="10" placeholder="Describe como será el reto para los participantes" #descripcionReto></textarea>
                                </div>
                                <div class="input-field col s12" style="margin-top: 10px; text-align: center;">
                                    <label>Seleccione sala para este reto</label>
                                    <select id="salasEnSelect" #salasEnSelect>
                    <option value="" *ngFor="let s of salas">
                       {{s.getNombre()}}
                   </option>
                  </select>

                                </div>
                                <div class="container" style="display: flex; justify-content: center; margin-bottom: 5px;">
                                    <button class="btn btn-primary" type="submit" (click)="AgregarReto(descripcionReto.value,salasEnSelect.options[salasEnSelect.selectedIndex].text)">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show " id="Jugadores" role="tabpanel" aria-labelledby="Jugadores-tab">
                <div>
                    <h1 style="display: flex; justify-content: center;">Ingrese los jugadores a la partida</h1>
                    <input style="justify-content: center; display: flex;" type="text" class="form-control" id="doc_identidad" placeholder="Ingrese documento de identidad" #doc_identidad>
                    <div style="display: flex; justify-content: center; margin-top: 15px;">
                        <button class="btn btn-success" type="submit" (click)="AgregarJugador(doc_identidad.value)">Agregar</button>
                        <button class="btn btn-danger" type="submit" (click)="QuitarJugador(doc_identidad.value)">Borrar</button>
                    </div>
                    <hr>
                    <div class="container" style="flex-wrap: wrap; display: flex;">
                        <app-jugadores-creando-partida *ngFor="let j of jugadores; let i=index" [jugador]="j"></app-jugadores-creando-partida>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="Vista-general" role="tabpanel" aria-labelledby="Vista-general-tab">
                <h1 style="display: flex; justify-content: center; text-align: center;"><b>{{partida.getNombrePartida()}}</b></h1>
                <div style="margin:0 auto;" class="cartas">
                    <div class="card mb-3" style="max-width: 900px;">
                        <div class="row no-gutters" style="text-align: center; display: flex; justify-content: center;">
                            <h3 style="text-align: center;"> <b>JUGADORES</b></h3>
                            <div class="container" style="flex-wrap: wrap; display: flex;">
                                <app-jugadores-creando-partida *ngFor="let j of jugadores; let i=index" [jugador]="j"></app-jugadores-creando-partida>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 380px; text-align: center; margin-left: 15px; margin-right: 15px;">
                        <h3 style="text-align: center;"><b> Tematica</b></h3>
                        <hr>
                        <p> {{partida.getTematica()}}</p>
                        <hr>
                        <h3 style="text-align: center;"><b> Descripcion</b></h3>
                        <hr>
                        <p>{{partida.getDescripcion()}}</p>
                    </div>
                </div>
                <H2 style="text-align: center;"><b> RETOS</b></H2>
                <hr>
                <div class="container">
                    <hr>
                    <app-retos-creando-partida *ngFor="let r of retos" [reto]="r">
                    </app-retos-creando-partida>
                    <hr>
                </div>
                <div class="container" style="display: flex; justify-content: center; margin-bottom: 5px;">
                    <hr>
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#Qrs" id="BtnQrs">Listo</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

<div class="modal fade" id="Qrs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel" data-dismiss="modal" style="text-align: center;"><b> Imprime tus retos</b></h1>
                <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-left: 10px;"><a [routerLink]="['/esperar_crear']" class="nav-link" style="color: white;" >Imprimir todo y continuar</a></button>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container" style="flex-wrap: wrap; display: flex; justify-content: center;">
                    <app-retos-qr-creando-partida *ngFor="let r of retos" [reto]="r"></app-retos-qr-creando-partida>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success"><a [routerLink]="['/esperar_crear']" class="nav-link" style="color: white;" >Imprimir todo y continuar</a></button>
            </div>
        </div>
    </div>
</div>
