.card-menu{
    flex: 1 150px;
    padding: 2px 10px;
    margin: 10px 10px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);
    border-radius: 10px;
    text-align: center;
    background-color: #9D65C9;
}
.card-menu:hover{
    background-color:#343A40;
}
a{
    color: #e7dbdb;
}
body{
    background-color: aqua;
}