<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">
        <img src="/assets/room.png" width="35" height="35" class="d-inline-block align-top" alt="logo"> Arcano
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto text-center">
            <a class="nav-link active" routerLinkActive="active" [routerLink]="['home']">Inicio</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['quienes_somos']">¿Qué es scape room?</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['instrucciones']">Instrucciones</a>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <a href="#" class="mr-2"><img src="/assets/face.png" width="45" height="45" alt="face"></a>
            <a href="#" class="mr-2"><img src=" /assets/insta.png " width="45 " height="45 " alt="face "></a>
            <a href="# "><img src="/assets/twi.png " width="45 " height="45 " alt="twi "></a>
        </div>
    </div>
</nav>