<div class="container" style="margin-top: 30px; margin-bottom: 40px; display: flex; justify-content: center;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1 class="card-title" style="display: flex;" style="justify-content:center">Partidas Jugadas</h1>
        
        </div>
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#Partida</th>
      <th scope="col">Titulo de la partida</th>
      <th scope="col">Puntaje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Aprendiendo sobre el mundo marino</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Explorando los planetas</td>
      <td>67</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Valoremos a la Madre Tierra</td>
      <td>86</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Explorando la flora del planeta</td>
      <td>55</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Conociendo a los animales</td>
      <td>34</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>El mundo de la lectura</td>
      <td>96</td>
    </tr>
    
  </tbody>
</table>

        <div>
            <button class="btn btn-primary mr-3 btn-lg"><a [routerLink]="['/menu_usuario']"  class="nav-link" style="color: white;" >Volver al menú</a></button>
        </div>
        
    </div>
</div>
 