h1 {
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Secular One', sans-serif;
    padding-top: 30px;
    margin-top: 20px;
}

p {
    color: white;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

div,
#hola {
    align-items: center;
    justify-content: center;
    transform: translateY(30%);
    border: black 2px inset;
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(253, 249, 249, 0.1);
}