<div style="display: flex; justify-content: space-around; margin: 20px;">
    <h1 style="color: white;">Panel Anfitrion</h1>
    <button type="button" class="btn btn-danger" ><a [routerLink]="['/puntajes_anfitrion']" style="color: white;" class="nav-link"> Terminar partida</a></button>
</div>

<div style="margin:0 auto; display: flex; justify-content: center;">
    <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/user.png" class="card-img" alt="logo">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="jugador">Jugador</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombre">Nombre</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="codigo">Código</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Seleccione la opción según corresponda</h5>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Reto</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Respuesta</span>
                        </div>
                        <input type="text" aria-label="respuesta" class="form-control">
                        <div class="form-check form-check-inline" style="margin-left: 10px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Ganó</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Perdió</label>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Reto</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Respuesta</span>
                        </div>
                        <input type="text" aria-label="Last name" class="form-control">
                        <div class="form-check form-check-inline" style="margin-left: 10px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option4">
                            <label class="form-check-label" for="inlineRadio1">Ganó</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option5">
                            <label class="form-check-label" for="inlineRadio2">Perdió</label>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Reto</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Respuesta</span>
                        </div>
                        <input type="text" aria-label="Last name" class="form-control">
                        <div class="form-check form-check-inline" style="margin-left: 10px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Ganó</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Perdió</label>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Reto</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Respuesta</span>
                        </div>
                        <input type="text" aria-label="Last name" class="form-control">
                        <div class="form-check form-check-inline" style="margin-left: 10px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Ganó</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Perdió</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>