
    
    <div class="text-center" style="margin-top: 30px; margin-bottom: 40px; display: flex; justify-content: center;">
    <div class="card" style="width: 30rem;">
        <h1>Partidas Creadas</h1>
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="input-group mb-3" style="display: flex;" style="justify-content:center;">
                    <span class="input-group-text col-6" id="inputGroup-sizing-codigo">Partida 1</span>
                    <div class="input-group-append">
                        <button class="btn btn btn-success col-12" type="button"><a [routerLink]="['/detalles-partida']"  class="nav-link" style="color: white;" >Info partida</a></button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3" style="display: flex;" style="justify-content:center;">
                    <span class="input-group-text col-6" id="inputGroup-sizing-codigo">Partida 2</span>
                    <div class="input-group-append">
                        <button class="btn btn btn-success col-12" type="button"><a [routerLink]="['/detalles-partida']"  class="nav-link" style="color: white;" >Info partida</a></button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3" style="display: flex;" style="justify-content:center;">
                    <span class="input-group-text col-6" id="inputGroup-sizing-codigo">Partida 3</span>
                    <div class="input-group-append">
                        <button class="btn btn btn-success col-12" type="button"><a [routerLink]="['/detalles-partida']"  class="nav-link" style="color: white;" >Info partida</a></button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3" style="display: flex;" style="justify-content:center;">
                    <span class="input-group-text col-6" id="inputGroup-sizing-codigo">Partida 4</span>
                    <div class="input-group-append">
                        <button class="btn btn btn-success col-12" type="button"><a [routerLink]="['/detalles-partida']"  class="nav-link" style="color: white;" >Info partida</a></button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3" style="display: flex;" style="justify-content:center;">
                    <span class="input-group-text col-6" id="inputGroup-sizing-codigo">Partida 5</span>
                    <div class="input-group-append">
                        <button class="btn btn btn-success col-12" type="button"><a [routerLink]="['/detalles-partida']"  class="nav-link" style="color: white;" >Info partida</a></button>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <button class="btn btn-primary mr-3 btn-lg"><a [routerLink]="['/menu_usuario']"  class="nav-link" style="color: white;" >Volver al Menú</a></button>
        </div>

    </div>
</div>
