<div class="container" style="margin-top: 20px;">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-codigo">código</span>
        </div>
        <input type="text" class="form-control" aria-label="codigo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
            <button class="btn btn btn-success" type="button">Info partida</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Aquí va la pregunta" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-dark" type="button" id="button-addon1">Seleccionar archivo</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="notificacion()">Enviar</button>
</div>