<div class="container" style="justify-content: center; text-align: center; color: white; margin-top: 50px;">
    <div>
        <h1>Pon los retos en su debida sala...</h1>
    </div>
    <div>
        <button type="button" class="btn btn-success"><a [routerLink]="['/panel_anfitrion']" class="nav-link" style="color: white;" >Iniciar Partida</a></button>
    </div>

</div>
